@media(max-width:768px) {

	h2 {
		padding-top:40px;
		font-size:26px;
	}

	.content {
		text-align:center;
	}

	.content p {
		padding-bottom:50px;
		color:#4D514F;
		font-size:18px;
		text-align:left;
		padding-left:60px;
		padding-right:60px;
		line-height:1.5;
	}

	.content h3 {
		font-size:22px;
		padding-bottom:20px;
	}

	h3:first-of-type {
		padding-top:40px;
	}

	.f1_img  {
		height:300px;
	}

	.f2_img {
		height:300px;
	}

	.f3_img {
		height:300px;
	}
}


@media(max-width:480px){

	h2 {
		padding-top:30px;
		font-size:24px;
	}

	.content p {
		padding-bottom:40px;
		font-size:16px;
		padding-left:40px;
		padding-right:40px;
		line-height:1.5;
	}

	.content h3 {
		font-size:20px;
	}

	h3:first-of-type {
		padding-top:30px;
	}

	.f1_img {
		height:150px;
	}

	.f2_img {
		height:150px;
	}

	.f3_img {
		height:150px;
	}
}
