@media(max-width:768px) {

	header {
		background-image:url("main.png");
		background-size:100% auto;
		background-repeat:no-repeat;
		background-color:#2AE57D;
		height:400px;
	}

	h1:first-of-type{
		font-size:46px;
	}

	header h1 {
		font-family: 'Fira Sans', sans-serif;
		color:#fff;
		text-shadow:1px 1px 1px #222524;
		font-size:28px;
		text-align:center;
		padding-top:40px;
	}

	header h1:first-child {
		padding-top:110px;
	}

	header .buttonwrapper {
		width:200px;
		height:200px;
		margin:0 auto;
		text-align:center;
	}

	header .button {
		padding-top:110px;
	}
}


@media(max-width:480px){

	header {
		height:305px;
	}

	h1:first-of-type {
		font-size:42px;
	}

	header h1:first-child {
		padding-top:80px;
	}

	header h1 {
		font-size:28px;
		padding-top:30px;
		line-height:1;
	}

	header .button{
		padding-top:50px;
	}
}


@media(max-width:453px) {

	header {
		height:350px;
	}

}
