@charset "UTF-8";

/* common styles */
@media(max-width:768px) {


	html {
		height: 100%;
		font-size: 100%;
	}

	body {
		margin: 0;
		padding: 0;
		font: 14px/18px Garamond,sans-serif;
		font-size:16px;
		background: #eee;
		height: auto;
	}

	*{
		margin: 0;
		padding: 0;
		outline: 0;
		text-decoration: none;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}

	a:hover {text-decoration: none;}

	a:active,
	a:hover {outline: 0;}


	.clearfix:before,
	.clearfix:after {
		content: " ";
		display: table;
	}

	.clearfix:after {clear: both;}

	.right {float:right;}
	.left {float: left}
	.text-right {text-align:right;}

	.wrapper {
		height:auto;
	}

	h2,h3,p,a {
		color:#000;
		font-family: 'Open Sans', sans-serif;
	}

	a {
		background: #F37964;
		display: inline-block;
		padding: 15px 25px 15px 25px;
		font-size:20px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
		border-radius:7px;
		position: relative;
		
	}
}

@media(max-width:480px){

	a {
		font-size:14px;
	}
}
